@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav .link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .link.current {
  color: #2196F3;
}

.nav .item {
  cursor: pointer;
}

.auth-nav .link {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .link,
.item:focus .link {
  color: #2196F3;
}

.link:hover,
.link:focus {
  color: #2196F3;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  align-items: center;
}

.navigation .logo {
  margin-right: 93px;
}

.link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.navigation .item {
  position: relative;
  padding: 32px 0;
}

.nav {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.auth-nav {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.page-header .address {
  margin-left: auto;
}

.auth-nav > .link:last-child {
  margin-right: 0;
}

.auth-nav .link {
  padding: 32px 0;
}

.nav > li:not(:last-child) {
  display: block;
  margin-right: 50px;
}

.auth-nav li:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope:hover,
.envelope:focus {
  fill: #2196F3;
}

.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover,
.phone:focus {
  fill: #2196F3;
}

.hero > .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero .button {
  min-width: 200px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
}

.hero-bg {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-color: #000000;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover .btn-close {
  fill: #2196F3;
}

.modal-title {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.form-field .form-input {
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms var(--cubic);
}

.form-field .textarea {
  width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #2196F3;
}

/* Стилизация чекбокса */
.checkbox-label > .link {
  text-decoration: underline;
  color: #2196F3;
}

.checkbox-label {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-container {
  margin-bottom: 30px;
}

.checkbox-container .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked ~ .icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url("../images/icons/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

/* Стилизация инпутов */
.form-field {
  position: relative;
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 55%;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.form-input:focus + .icon-form {
  fill: #2196F3;
}

.form-input:focus {
  border-color: #2196F3;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section .section-descriptions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.no-title {
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

.section.container {
  background: #ffffff;
}

.container .section-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.container .section-descriptions {
  margin-top: 0;
  margin-bottom: 0;
}

.container .section-item:not(:last-child) {
  margin-right: 30px;
}

.no-title .section-item::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.antenna::before {
  background-image: url("../images/icons/antenna-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  background-image: url("../images/icons/clock-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.diagram::before {
  background-image: url("../images/icons/diagram-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut::before {
  background-image: url("../images/icons/astronaut-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.team-work .section-items {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.items:not(:last-child) {
  margin-right: 30px;
}

.section-caption {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 47px;
  font-size: 36px;
}

.team-work {
  background-color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 94px;
}

.items {
  position: relative;
}

.items > .subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-bg {
  background: #F5F4FA;
}

.our-team {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 94px;
}

.our-team .section-items {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section-team {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-top: 94px;
  font-size: 36px;
}

.list-workers:not(:last-child) {
  margin-right: 30px;
}

.section-avatar,
.section-vocation {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.section-avatar {
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-workers {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
}

.social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram, .twitter,
.facebook, .linkedin {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social > li:not(:last-child) {
  margin-right: 10px;
}

.social .icon:hover,
.social .icon:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.section-clients {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients {
  margin-top: 94px;
  margin-bottom: 94px;
}

.clients-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-logo-1, .icon-logo-2,
.icon-logo-3, .icon-logo-4,
.icon-logo-5, .icon-logo-6 {
  display: block;
  fill: currentColor;
}

.clients-list .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list > li:not(:last-child) {
  margin-right: 30px;
}

.clients-list .icon {
  width: 170px;
  height: 90px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .item {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-list .icon:hover,
.clients-list .icon:focus {
  color: #2196F3;
}

.clients-list .item:hover,
.clients-list .item:focus {
  border: 1px solid #2196F3;
}

.section .list-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.list-btn {
  background: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:hover,
.list-btn:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn .list-navigation:not(:last-child) {
  margin-right: 8px;
}

.section.container {
  margin-top: 94px;
  margin-bottom: 94px;
}

.web-container {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  flex-wrap: wrap;
  padding-left: 0;
}

.section-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.section-tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-container {
  background: #ffffff;
}

.section-list .lists-section {
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-list .lists-section.not {
  margin-right: 0;
}

.section-list-card .title {
  padding: 20px 24px;
  width: 100%;
}

.section-tagline,
.section-item {
  margin: 0;
}

.section-list-card a {
  display: block;
}

.section-list-card {
  background: #ffffff;
}

.lists-section.lists-cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.lists-section {
  width: 370px;
  border: 1px solid #EEEEEE;
}

.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.img-overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.text {
  position: absolute;
  top: 63px;
  left: 24px;
  margin: 0;
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lists-section:hover .overlay {
  transform: translateY(0%);
}

.lists-section {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lists-section:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:focus .overlay {
  transform: translateY(0%);
}

.cards:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  background: #2F303A;
}

.footer .footer-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: #2F303A;
}

.footer .logo {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 9px;
}

.footer-links:not(:last-child) {
  padding-bottom: 9px;
}

.footer-section {
  margin-bottom: 60px;
  margin-right: 70px;
}

.footer-link {
  display: block;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-discription {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-list .icon::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .icon:hover::before,
.footer-list .icon:focus::before {
  background-color: #2196F3;
}

.footer-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-list > li:not(:last-child) {
  margin-right: 10px;
}

.footer-adress {
  display: flex;
  align-items: baseline;
  width: 231px;
}

.instagram-white::before {
  background-image: url("../images/icons/instagram-white.svg");
}

.twitter-white::before {
  background-image: url("../images/icons/twitter-white.svg");
}

.facebook-white::before {
  background-image: url("../images/icons/facebook-white.svg");
}

.linkedin-white::before {
  background-image: url("../images/icons/linkedin-white.svg");
}

.footer-subscribe {
  width: 570px;
  margin-left: 93px;
}

.btn-subscribe {
  min-width: 200px;
  margin-left: 12px;
  padding: 10px 26px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/icons/send.svg");
}

.js-speaker-form .mail {
  width: 358px;
  height: 50px;
  padding: 16px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.js-speaker-form {
  display: flex;
}
/*# sourceMappingURL=main.css.map */