.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 2;
    transition: opacity 250ms $timing-function;  
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
       
     
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
       

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-function;

    min-width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
       
}

.btn-modal {
position: absolute;
right: 0;

width: 30px;
height: 30px;

background-color: $primary-bg-color;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
margin: 8px;
cursor: pointer;

}
.btn-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    transition: fill 250ms $timing-function;
    
    
}
.btn-modal:hover .btn-close {
    fill: $accent-color;
}