// Постоянные клиенты
.clients {
    margin-bottom:0;
    margin-top: 0;
    padding-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    @media screen and (min-width: 768px) {
        padding-bottom: 30px;

        font-size: 28px;
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 50px;

        font-size: 36px;
    }
}

.section-clients {
    
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-top: 94px;
        margin-bottom: 94px;
    }
}


.clients-list {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: -15px;
    
    
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        margin: -15px;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin: 0;
    }
}
.icon-logo-1,.icon-logo-2,
.icon-logo-3,.icon-logo-4,
.icon-logo-5,.icon-logo-6 {
    display: block;
    fill: currentColor; 
}
.clients-list .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-list > .item:not(:last-child) {
    
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}
.clients-list > .item {   
    @media screen and (max-width: 1199px) {
        margin: 14px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.clients-list .icon {
    width: 210px;
    height: 90px;
    color:  #afb1b8;
    transition: color 250ms $timing-function,border 250ms $timing-function;

    @media screen and (min-width: 768px) {
        width: 226px;
        height: 90px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 90px;
    }
}
.clients-list .item {
    width: 210px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
    width: 226px;
    height: 90px;  
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 90px;
    }
   
}
.clients-list .icon:hover ,
.clients-list .icon:focus  {
    color: $accent-color;
    
}
.clients-list .item:hover ,
.clients-list .item:focus {
    border: 1px solid $accent-color;
    
}