.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}
.nav .link {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

    transition: color 250ms $timing-function;
}
.nav .link.current {
    color: $accent-color;

}
.nav .item {
    cursor: pointer;
}

.auth-nav .link {
    
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $primary-text-color;

    transition: color 250ms $timing-function;
}
.item:hover .link ,
.item:focus .link {
    color: $accent-color;
    

}
.link:hover ,
.link:focus  {
    color: $accent-color;
}
.page-header {
    border-bottom: 1px solid #ECECEC;
}               
.navigation {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;  
    align-items: center;
}
.navigation .logo {
    margin-right: 93px;
}

.link.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;    
}
.navigation .item {
    position: relative;
    padding: 32px 0;
} 
    
.nav {
    display: flex;
    margin: 0;
    padding-left: 0;
           
}
.auth-nav {
    display: flex;
    margin: 0;
    padding-left: 0;              
}
.page-header .address {
    margin-left: auto;
}
.auth-nav > .link:last-child {
    margin-right: 0;
}
.auth-nav .link {
    padding: 32px 0;
}
.nav > li:not(:last-child) {
    display: block;
    margin-right: 50px;
       
      
}
.auth-nav li:not(:last-child) {
    margin-right: 50px;
       
       
}
.auth-nav .link {
    display: flex;
    align-items: center;
}
.envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    transition: background-color 250ms $timing-function;

    
}
.envelope:hover ,
.envelope:focus {
    fill: $accent-color;
}
.phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms $timing-function;

}
.phone:hover ,
.phone:focus {
    fill: $accent-color;
}