.section.container {
    margin-top: 94px;
    margin-bottom: 94px;
}
.web-container {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    flex-wrap: wrap;
    padding-left: 0;
       
}
.section-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}
.section-tagline {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}
.main-container {
    background: $primary-bg-color;
   
}

.section-list .lists-section {
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.section-list .lists-section.not {
    margin-right: 0;
    
}

.section-list-card .title {
padding: 20px 24px;
width: 100%;
}

.section-tagline ,
.section-item {
    margin: 0;
}
.section-list-card a {
    display: block;
}
.section-list-card {
    background: $primary-bg-color;
}
.lists-section.lists-cards:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.lists-section {
    width: 370px;
    border: 1px solid #EEEEEE;
    
}
