.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

}
.section .section-descriptions {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.no-title {
    padding-left: 0;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;

    
}
.section.container {
    background: $primary-bg-color;
    
}
.container .section-title {
    margin-top: 0;
    margin-bottom: 10px;
}
.container .section-descriptions {
    margin-top: 0;
    margin-bottom: 0;

}
.container .section-item:not(:last-child) {
    margin-right: 30px;

}
.no-title .section-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
}
.antenna::before {
    background-image: url("../images/icons/antenna-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    
}
.clock::before {
background-image: url("../images/icons/clock-1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.diagram::before {
    background-image: url("../images/icons/diagram-1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.astronaut::before {
    background-image: url("../images/icons/astronaut-1.svg");
    background-repeat: no-repeat;
    background-position: center;
}